body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
  }
body{
    background-image:url("https://images.pexels.com/photos/1595244/pexels-photo-1595244.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.7;
    
}

.nit1{
    font:bold 
}

.container{
    position: relative;
}
#name{
    color: cyan;
    text-shadow: rgb(7, 7, 7)3px 3px 3px;
    font:italic 60px 'Lemon', cursive;
    text-align: center;
    
    
}
.display{
    color:whitesmoke;
    font: bold 20px 'helvetica';

    
}
.header{
    
    color: aqua;
    font-family: cursive;
    font-size: 30px;

    
    
}
#nit{
    color: brown;
    font-family: 'Lemon', cursive;
    
}
.ahaz{
    text-align: center;
    font: italic 40px 'segoe script';
    color:greenyellow;
    
    border: 2px solid red;

    
}
#abc{
    color: brown;
    font-family: 'Lemon', cursive;
    

}
#dhan{
    color: brown;
    font-family: 'Lemon', cursive;

}
#abi{
    font: bold 20px 'forta';
    color: white;
}
.box{

    -webkit-box-orient: vertical;
    -webkit-box-pack: center   ;
    margin-left:30px;
    margin-right: 30px;
    margin-top: 20px;
    border: 3px solid lightseagreen;
    padding: 10px;
    box-shadow: 8px 4px 10px  #27e0d1; 
    
}
#style{
    text-align: center;
    color:lightseagreen;
}
#para{
    font:italic 20px 'Alegreya Sans SC', sans-serif;
}

#trip{
    text-align: center;
    font: bold 60px 'forta';
    color: aqua;
    

}
#mainNavBar a{
  text-align: center;
  font: 18px 'Hind';
  color: antiquewhite;
}
    li.one{
      font: 18px 'Hind';
        color: antiquewhite;
      display: inline-block;
      margin: 0px;
      width: 20px;
      margin-right:180px;
      
      }
 
#mainNavBar li {
  
  display: block;
  margin: 0;
  margin-right: auto;
  
  }

#mainNavBar li {

  display: inline-block;
  margin: 0;
  margin-right: 39px;
  
  }
  .navbar{
    background-color: black; 
    
  }
  li.one{
    font: 18px 'Hind';
      color: antiquewhite;
    display: inline-block;
    margin: 0;
    margin-right:180px;
    
    }
    #mainNavBar a:hover {
      color: #0f23d6;
    }

@media only screen and (max-width:812px){
  #mainNavBar a{
    text-align: center;
    font-size: 10px;
    font: 10px 'Hind';
}
#mainNavBar li {

  display: block;
  margin: 0;
  margin-right: auto;
  
  }
  li.one{
    font: 18px 'Hind';
      color: antiquewhite;
    display: inline-block;
    margin: 0px;
    width: 20px;
    margin-right:180px;
    
    }
    #name{
      color: cyan;
      text-shadow: rgb(7, 7, 7)3px 3px 3px;
      font:italic 30px 'Lemon', cursive;
      text-align: center;
      
      
  }
  .box{

    -webkit-box-orient: vertical;
    -webkit-box-pack: center ;
    margin-left:30px;
    margin-right: 30px;
    margin-top: 20px;
    border: 3px solid lightseagreen;
    padding: 10px;
    box-shadow: 8px 4px 10px  #27e0d1; 
    
}

  }
